body {
    font-size: 30px;
}


p {
    font-family: "Times New Roman";
    background-color: burlywood;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-size: 100%;
}

h1 {
    font-family: Futura;
    font-style: normal;
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

h2{
    font-family: "Century Gothic";
    text-align: center;

}





